<div class="container">
<div class="row-fluid">

<div class="col-md-4">
  <b><h1>Home</h1></b>
  <div class="well">
  S2 Jayam Yamunalakshmi Homes<br>
  No 7, Venkatesan Street<br>
  New Perungalathur<br>
  Chennai-600 063
    </div>
  </span>
  <div class="well">Phone No:+91 8608112290<br>
   Mail Id:shyamsolomon94@gmail.com
 </div>
 </div>
 <div class="col-md-8">
  <style>
      #map {
        height: 320px;
        width: 100%;
       }
    </style>
        <h3>My Location</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 12.910414, lng: 80.094539};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMKVZSlKUEV-fYxT95nBENSYMQbkKqGYw&callback=initMap">
    </script>
</div>
</div>
<div ng-app="capp">
<div class="col-md-4">
<br>
 <div ng-controller="myCtrl2">
<button ng-click="myFunc()" class="btn btn-info">Click Here! to submit your contact</button>

<div ng-show="showMe">
<div ng-controller="myCtrl">
         <label>Enter the Name :</label><br>
        <input type="text" ng-model="user.fname" placeholder="Enter name"><br>
        <label>Enter the Email-ID :</label><br>
        <input type="text" ng-model="user.email" placeholder="Enter email"><br>
        <button ng-click="myFunction(user)" value="submit">Submit</button>
    </div>
     </div>
</div>

</div>
</div>
</div>